<div class="search-wrapper text-center mt-3">
  <%= form_with(url: search_stocks_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "製品名・色名で検索する", class: "search-input" %>
    <%= form.submit "検索", class: "btn btn-primary mt-1" %>
  <% end %>
</div>
<div class="table-responsive mx-auto">
  <table class="table  table-dark table-striped table-bordered small">
    <thead>
      <tr>
        <th scope="col">製品名</th>
        <th scope="col">入庫日</th>
        <th scope="col">カテゴリー</th>
        <th scope="col">色名</th>
        <th scope="col">光沢</th>
        <th scope="col">残量　(缶を除く[kg])</th>
        <th scope="col">塗布可能面積　[m<sup>2</sup>]</th>
        <th scope="col">規格</th>
        <th scope="col">備考</th>
      </tr>
    </thead>
    <tbody>
      <% @stocks.each do |stock| %>
        <tr>
          <th scope="row"><%= link_to stock.p_name, edit_stock_path(stock.id), class: "nav-link" %></th>
          <td><%= stock.created_at.to_date %></td>
          <td><%= stock.category.name %></td>
          <td><%= stock.color %></td>
          <td><%= stock.gloss %></td>
          <td><%= stock.remaining %></td>
          <td><%= stock.applicable_area %>　[<%= stock.amount %>kg/m<sup>2</sup>]</td>
          <td><%= stock.standard.name %></td>
          <td><%= stock.remarks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>